body {
  background-color: pink;
  color: white;
  font-family:"roboto";

}
h1,p {color: blue;
    font-family:"roboto";
      font-size:30px;
}
h2,p,li {color: red;
      font-family:"roboto";
      font-size:25px;
}
li:hover {
  font-size: 2em;

}

p{
background-color: gray;
  color: (191, 101, 101, 0.85);
  font-family:"roboto";
  font-size:20px;
  margin: 10;
}
div.contrast{
  background-color: indigo;
}
div.hat{
  background-color: yellow;
}
